.container {
    width: 50%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: #333;
}

h2 {
    font-size: 20px;
    color: #333;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="text"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f8f8f8;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f8f8f8;
}

button {
    background-color: #b48ab8;
    color: #874982;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

button:hover {
    background-color: #a977a5;
}

